/* You can add global styles to this file, and also import other style files */
.cda-margin-left {
    margin-left: 20px;
}

.cda-margin-top {
    margin-top: 20px;
}

.cda-margin-top-50 {
    margin-top: 50px;
}